extends ./layouts/index
block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="/img/nosotros.jpg", alt="imagen sobre nostros" class="img-fluid")
            div(class="col-md-7")
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque metus eu lacus gravida auctor. Nullam feugiat laoreet est, nec varius augue maximus ultrices. Integer dignissim risus nec maximus scelerisque. Vestibulum vel molestie urna. Mauris vel consequat odio. Cras vel dui vestibulum, tristique felis non, tincidunt nisl.

                p Aliquam posuere tincidunt molestie. Suspendisse at nibh pharetra, sodales velit non, blandit lectus. Maecenas pellentesque est id justo suscipit ultricies. Donec vulputate ultrices tellus, a pellentesque sem tristique eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae, praesent ullamcorper.

                p Duis nec pretium est. Nunc tincidunt, nunc sit amet iaculis maximus, dolor nisl iaculis metus, non viverra mi magna sed purus. Proin et elit et tellus varius sagittis at ut enim. Sed sit amet lorem vel risus suscipit bibendum. Maecenas auctor sodales sapien eu tincidunt. Phasellus imperdiet id erat imperdiet mattis.
            div(class="listado-iconos")
                div(class="container mt-5 py-5 text-center")
                    div(class="row")
                        div(class="col-md-4")
                            img(src="/img/icono_seguridad.svg", alt="icono de seguridad" class="img-fluid mb-4")
                            h2(class="mb-4") Seguridad
                            p Aliquam posuere tincidunt molestie. Suspendisse at nibh pharetra, sodales velit non, blandit lectus. Maecenas pellentesque est id justo suscipit ultricies donec vulputate ultrices tellus.
                        div(class="col-md-4")
                            img(src="/img/icono_destinos.svg", alt="icono de destinos" class="img-fluid mb-4")
                            h2(class="mb-4") Mejores Destinos
                            p Aliquam posuere tincidunt molestie. Suspendisse at nibh pharetra, sodales velit non, blandit lectus. Maecenas pellentesque est id justo suscipit ultricies donec vulputate ultrices tellus.
                        div(class="col-md-4")
                            img(src="/img/icono_precios.svg", alt="icono de precios" class="img-fluid mb-4")
                            h2(class="mb-4") Los Mejores Precios
                            p Aliquam posuere tincidunt molestie. Suspendisse at nibh pharetra, sodales velit non, blandit lectus. Maecenas pellentesque est id justo suscipit ultricies donec vulputate ultrices tellus.